schemas/resume-schema.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="resume">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="basics">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="image"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="phone"/>
                            <xs:element type="xs:string" name="url"/>
                            <xs:element type="xs:string" name="summary"/>
                            <xs:element type="xs:string" name="location"/>
                            <xs:element name="profiles">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="network"/>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element type="xs:string" name="url"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="work" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="company"/>
                            <xs:element type="xs:string" name="position"/>
                            <xs:element type="xs:string" name="website"/>
                            <xs:element type="xs:dateTime" name="startDate"/>
                            <xs:element type="xs:string" name="endDate"/>
                            <xs:element type="xs:string" name="summary"/>
                            <xs:element type="xs:string" name="highlights" maxOccurs="unbounded" minOccurs="0"/>
                            <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="volunteer"/>
                <xs:element name="education">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="institution"/>
                            <xs:element type="xs:string" name="url"/>
                            <xs:element type="xs:string" name="area"/>
                            <xs:element type="xs:string" name="studyType"/>
                            <xs:element type="xs:dateTime" name="startDate"/>
                            <xs:element type="xs:dateTime" name="endDate"/>
                            <xs:element type="xs:string" name="score"/>
                            <xs:element type="xs:string" name="courses"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="awards"/>
                <xs:element type="xs:string" name="publications"/>
                <xs:element name="skills" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="level"/>
                            <xs:element type="xs:string" name="keywords" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="languages" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="language"/>
                            <xs:element type="xs:string" name="fluency"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="interests">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="keywords" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="references"/>
                <xs:element name="projects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="highlights"/>
                            <xs:element type="xs:string" name="keywords"/>
                            <xs:element type="xs:dateTime" name="startDate"/>
                            <xs:element type="xs:string" name="endDate"/>
                            <xs:element type="xs:string" name="url"/>
                            <xs:element type="xs:string" name="roles"/>
                            <xs:element type="xs:string" name="entity"/>
                            <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

